body {
    margin: 0;
    padding: 0;
    // background-color: #e5e5e5;
    background-color: #ece8e9;
    font-family: 'Oswald', sans-serif;
    color: #142601;
}

/* - - - - - HEADER - - - - - */
.scroll-active {
    background-color: #ece8e9dc;
}
header {
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff00);
    z-index: 10;

    .burger-menu,
    .search-box {
        width: 20%;
        text-align: center;
        margin-top: 20px;
    }
    .header-logo {
        width: 30%;
        margin-top: 20px;
    }
    .header-logo img {
        width: 100%;
    }
    .fas {
        font-size: 40px;
    }
}
.desktop-menu {
    display: none;
}

/* - - - - - LANDING PAGE - - - - - */
.landing-page {
    height: calc(100vh - 78px);
    padding-top: 78px;
    background-image: url('/img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    h1 {
        font-size: 46px;
        font-weight: 600;
        width: 65%;
        margin-left: 30px;
        margin-top: 60px;
    }
    h2 {
        font-size: 46px;
        font-weight: lighter;
        margin: 45px 0px 45px 30px;
    }
    .svg-heart {
        width: 60px;
        height: 60px;
        background-color: red;
        margin: 45px auto;
    }
    button {
        position: relative;
        background-color: #f13712;
        border: 0;
        border-radius: 10px;
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        font-weight: 500;
        color: white;
        padding: 14px 29px;
        outline: 0;
        margin-left: 30px;
        z-index: 11;

        &:hover {
            background-color: #365902;
        }
    }
    .opacity-box {
        height: 97px;
        width: 100%;
        background-image: linear-gradient(to top, #ece8e9d4, #ece8e900);
        position: absolute;
        bottom: 0;
        z-index: 9;
        margin-top: 100px;
    }
}

/* - - - - - SCROLL DOWN PAGE - - - - - */
.left-container {
    margin: 0 25px;

    p {
        font-size: 22px;
        margin: 0;
        margin-left: 10px;
    }
    h3 {
        font-size: 46px;
        margin-top: 45px;
        margin-bottom: 0px;
    }
    a {
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        color: #142601;
        margin: 0 0 0 7px;
    }
    .signup-text {
        margin: 45px 0 15px 0;
        font-size: 22px;
    }
    label {
        margin-left: 5px;
    }
    input {
        display: block;
        width: 100%;
        height: 45px;
        border: 0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        margin-bottom: 5px;
        padding: 0;
    }
    button {
        width: 100%;
        height: 45px;
        background-color: #f53911;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border: 0;
        border-radius: 10px;
        font-family: Oswald;
        font-size: 18px;
        letter-spacing: 0.5px;
        color: #ffffff;

        &:hover {
            background-color: #365902;
        }
    }
}
.left-container img {
    display: block;
    width: 100%;
    margin: 70px auto 10px auto;
}
.right-container {
    margin: 0 25px;

    p {
        margin-top: 45px;
        font-size: 22px;
    }
    .busschedule-container img {
        display: block;
        width: 75%;
        margin: 45px 13% 45px 13%;
    }
}

/* - - - - - FOOTER - - - - - */
.SoMe-container {
    p {
        margin-left: 45px;
        margin-bottom: 5px;
        font-size: 28px;
    }
    .icons-container {
        display: flex;
        justify-content: center;
    }
    .icon-holder {
        height: 60px;
        width: 60px;
        margin: 0px 15px 45px 15px;
        background: #142601;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 255px 255px 255px 0px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: #bf0404;
        }
    }
    .fab {
        color: #fff;
        font-size: 35px;
    }
}
.logo-info-container {
    text-align: center;
    margin-bottom: 30px;
    .logo-container {
        width: 100%;
    }
    .logo-container img {
        display: block;
        width: 45%;
        margin: 45px auto 20px auto;
    }
    p {
        margin: 20px 0 5px 0;
        text-decoration: underline;
    }
    a {
        color: #142601;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            color: #365902;
        }
    }
}
