.mobile-menu {
    display: none;
}
.desktop-menu {
    display: flex;
    .header-logo {
        width: 20%;
    }
    navbar {
        width: 50%;
        display: flex;
        justify-content: space-between;

        li {
            list-style: none;
        }
    }
    .search-container {
        width: 30%;
        display: flex;
        justify-content: center;
    }
}
.scrolldown-page {
    display: flex;

    & article {
        width: 50%;
    }
}
footer {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    background-color: red;

    .SoMe-container {
        width: 30%;
    }
    .logo-info-container {
        width: 70%;
    }
}
