header {
    .burger-menu,
    .search-box {
        width: 15%;
        text-align: center;
        margin-top: 10px;
    }
    .header-logo {
        width: 18%;
        margin-top: 15px;
    }
    .header-logo img {
        width: 100%;
    }
}
.left-container img {
    display: block;
    width: 60%;
    margin: 80px auto 20px auto;
}
.busschedule-container img {
    display: block;
    width: 60%;
    margin: 45px 13% 45px 13%;
}
.logo-info-container {
    display: flex;
    justify-content: space-around;

    .logo-container {
        width: 30%;
    }
}
