/* - - - - - HEADER - - - - - */
header {
    .burger-menu,
    .search-box {
        width: 15%;
        text-align: center;
    }
    .header-logo {
        width: 18%;
    }
    .header-logo img {
        width: 100%;
    }
}

/* - - - - - LANDING PAGE - - - - - */
.landing-page {
    height: 1024px;
    min-height: 1024px;

    h1 {
        font-size: 72px;
        width: 60%;
        margin-top: 85px;
        margin-bottom: 0;
    }
    h2 {
        font-size: 56px;
        margin: 85px 0px 85px 30px;
    }
    .svg-heart {
        display: none;
    }
    button {
        padding: 20px 40px;
    }
}
/* - - - - - SCROLL DOWN PAGE - - - - - */
.scrolldown-page {
    width: 70%;
    margin: 0 auto;

    .left-container {
        p {
            margin-left: 0;
        }
        input {
            height: 58px;
            position: relative;
            display: inline-block;
        }
        button {
            height: 58px;
            width: 150px;
            padding: 14px 37px;
            position: absolute;
            right: 17.5%;
        }
    }

    .left-container img {
        display: block;
        width: 100%;
    }
    .busschedule-container img {
        width: 100%;
        margin: 45px 0;
    }
}

/* - - - - - FOOTER - - - - - */
.SoMe-container {
    width: 70%;
    margin: 0 auto;
    .SoMe-text {
        margin-left: 10%;
    }
}
.logo-info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    font-size: smaller;
    p {
        text-decoration: none;
        margin: 0;
    }
    article {
        width: 28%;
    }
    .logo-container {
        width: 30%;
    }
    .logo-container img {
        margin: 0 0 0 30px;
        width: 150px;
    }
}
